<section>
    <h2 class=" text-4xl font-tomaso">numeros</h2>
    <div>
        <p>
            <span>227</span>
        </p>
        <p>noticias</p>
    </div>
    <div>
        <p>
            <span id="#num2">69</span>M
        </p>
        <p>Visualizaciones</p>
    </div>
    <div>
        <p>
            <span id="#num3">3</span>M$
        </p>
        <p>ganados</p>
    </div>
</section>